.banner {
  position: relative;
  background-color: $header-bg;
  z-index: $z-index-header;
}

.banner__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.banner__text {
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 1.25rem;
  color: $white;
  line-height: 1.25;

  @include breakpoint-min(breakpoints(lg)) {
    font-size: 3.15rem;
  }
}
