.content {
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;
    height: calc(100vh - #{$header-height});
    background-color: $white;

    @include breakpoint-min(breakpoints(lg)) {
        display: flex;
        flex-direction: column;
    }
}

.content__container {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
	padding: 0 30px;
    background-color: $white;

	@include breakpoint-min(breakpoints(xl)) {
        max-width: $container-width;
    }
}

.content__main {
    flex: 1;
    min-width: 0;
    background-color: $content-bg;
    align-self: flex-start;
    padding: $content-padding;
}

.sidebar-active {
    .content__main {
        padding-left: $content-padding;
    }
}

.content__aside {
    @include breakpoint-min(breakpoints(lg)) {
        flex-shrink: 0;
        position: sticky;
        top: 0;
        order: 2;
    }
}

.content__right {
    position: sticky;
    top: 0;
    overflow: scroll;
}

// Keep only the main content when the page is loaded inside an iframe.
// Currently we load certain pages inside iframes for PathFactory analytics.
.inside-iframe {
    .header,
    .sidebar {
        display: none;
    }

    .content {
        height: 100vh;
    }

    .content__main {
        padding-left: $content-padding;
    }
}